.popup__input {
  min-width: 358px;
  min-height: 27px;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  
  box-sizing: border-box;
  
}



@media (max-width: 620px) {

  .popup__input {
    min-width: 238px;
  }
  
}